/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-brown-lighter: #f6f5f1;
  --clr-brown-light: #d8c59c;
  --clr-brown-lightest: #fdf2e9;
  --clr-brown: #b0956f;
  --clr-brown-darker: #50340d;
  --clr-brown-darker-text: #180f01;
  --clr-green-lighter: #017e70;
  --clr-green-darker: #013f38;
  --clr-blue-dark: #023e70;
}

html {
  font-size: 62.5%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CLASSES */
.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 1.6rem;
}

/* UTILITIES CLASSES */

.margin-bottom-lg {
  margin-top: 6.4rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.margin-top-xxs {
  margin-bottom: 1rem;
}

.margin-top-xs {
  margin-bottom: 1.6rem;
}

.margin-top-sm {
  margin-top: 2.4rem;
}

.margin-bottom-xxs {
  margin-bottom: 1rem;
}

.margin-bottom-xs {
  margin-bottom: 1.6rem;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.blackish {
  color: #333;
}
